
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <title>Wandel - Contacto</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%- include('includes/head'); %>

    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <![endif]-->
</head>

<body>
        <!--[if lt IE 9]>
            <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div class="preloader">
            <div class="preloader_image"></div>
        </div>
        <!-- search modal -->
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>
            <div class="widget widget_search">
                <form method="get" class="searchform search-form form-inline" action="./">
                    <div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button">Search</button> </form>
            </div>
        </div>
        <!-- Unyson messages modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
            <div class="fw-messages-wrap ls with_padding">
                <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
                <!--
            <ul class="list-unstyled">
                <li>Message To User</li>
            </ul>
            -->
            </div>
        </div>
        <!-- eof .modal -->
        <!-- wrappers for visual page editor and boxed version of template -->
        <div id="canvas">
            <div id="box_wrapper">
                <!-- template sections -->
               
                <%- include('includes/header', {option: 'contacto'}); %>
                <section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2>Contacto</h2>
                                <ol class="breadcrumb highlightlinks">
                                    <li> <a href="./">
                                Home
                            </a> </li>
                                    <li> <a href="#">Paginas</a> </li>
                                    <li class="active">Contacto</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="ls page_map" data-address="Terracina, LT, Francia">
                    <!-- marker description and marker icon goes here -->
                    <div class="map_marker_description">
                        <h3>Wandel Inversiones</h3>
                        <p>Quimicos y productos de limpieza</p> <img class="map_marker_icon" src="images/map_marker_icon.png" alt=""> </div>
                </section>
                <section class="ls columns_padding_25 section_padding_top_75 section_padding_bottom_130">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 to_animate" data-animation="scaleAppear">
                                <h3>Formulario de contacto</h3>
                                <form class="contact-form row columns_padding_10" method="post" action="./">
                                    <div class="col-sm-6">
                                        <div class="contact-form-name"> <label for="name">Full Name <span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Nombre Completo"> </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="contact-form-email"> <label for="email">Email address<span class="required">*</span></label> <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="e-mail"> </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="contact-form-phone"> <label for="phone">Phone Number</label> <input type="text" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Numero de Telefono"> </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="contact-form-subject"> <label for="subject">Subject</label> <input type="text" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Asunto"> </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="contact-form-message"> <label for="message">Message</label> <textarea aria-required="true" rows="5" cols="45" name="message" id="message" class="form-control" placeholder="Mensaje"></textarea> </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="contact-form-submit topmargin_10"> <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color2 inverse min_width_button">enviar mensaje</button> </div>
                                    </div>
                                </form>
                            </div>
                            <!--.col-* -->
                            <div class="col-sm-4 to_animate" data-animation="scaleAppear">
                                <h3>Contacto</h3>
                                <p> <i class="fa fa-map-marker highlight rightpadding_10" aria-hidden="true"></i> Urb. Casapía Mz C Lt 11- José Luis Bustamante y Rivero </p>
                                <p> <i class="fa fa-phone highlight rightpadding_10" aria-hidden="true"></i> 	(054) - 426221 </p>
                                <p> <i class="fa fa-pencil highlight rightpadding_10" aria-hidden="true"></i> <span class="__cf_email__" data-cfemail="b2c2dad3c0dfd3d1dddff2d7cad3dfc2ded79cd1dddf">	contacto@wandelinversiones.com</span></a> </p>
                                <p> <i class="fa fa-clock-o highlight rightpadding_10" aria-hidden="true"></i> Lunes - Viernes 07:00 - 17:00 </p>
                            </div>
                            <!--.col-* -->
                        </div>
                        <!--.row -->
                    </div>
                    <!--.container -AIzaSyBNrgrP7_76M1XR5CherbPMt2E8H-TZzT0>
                </section>
                <%- include('includes/footer')%>
            </div>
            <!-- eof #box_wrapper -->
        </div>
        <!-- eof #canvas -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script><script src="js/compressed.js"></script>
        <script src="js/main.js"></script>
        <!-- <script src="js/switcher.js"></script> -->
        <!-- Google Map Script -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNrgrP7_76M1XR5CherbPMt2E8H-TZzT0"></script>
    </body>
    
    </html>    