<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Wandel Inversiones</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<%- include('includes/head'); %>
	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->
	<div class="preloader">
		<div class="preloader_image"></div>
	</div>
	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">
			<i class="rt-icon2-cross2"></i>
		</span>
	</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form form-inline" action="./">
				<div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button">Search</button> </form>
		</div>
	</div>
	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->
		</div>
	</div>
	<!-- eof .modal -->
	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">
			<!-- template sections -->
			<section class="page_topline cs main_color2 table_section table_section_sm section_padding_top_5 section_padding_bottom_5">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 text-center text-sm-left">
							<div> <i class="fa fa-clock-o rightpadding_5" aria-hidden="true"></i> Opening Hours: Mon - Sat 8.00 - 18.00 </div>
						</div>
						<div class="col-sm-4 text-center text-sm-right greylinks"> <span class="rightpadding_10">Follow Us:</span> <a class="social-icon color-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon color-icon soc-google"
							    href="#" title="Twitter"></a> <a class="social-icon color-icon soc-linkedin" href="#" title="Twitter"></a> <a class="social-icon color-icon soc-youtube" href="#" title="Youtube"></a> </div>
					</div>
				</div>
			</section>
			<section class="page_toplogo table_section table_section_md ls section_padding_top_25 section_padding_bottom_25">
				<div class="container">
					<div class="row">
						<div class="col-md-3 text-center text-md-left"> <a href="./" class="logo top_logo">
                    <img src="images/logos/logo-white.png" alt="">
                </a> </div>
						<div class="col-md-9 text-center text-md-right">
							<div class="inline-teasers-wrap">
								<div class="teaser small-teaser media">
									<div class="media-left media-middle">  
                                        <!-- <div class="teaser_icon size_small border_icon highlight2 rounded"> <i class="rt-icon2-pen"></i>  -->
                                        <div class="teaser_icon size_small border_icon highlight2 rounded">   <i class="fas fa-phone"></i>

                                        </i> 
                                          


                                        </div>
									</div>
									<div class="media-body media-middle">
										<h4> (054) -426221</h4>
										<p class="greylinks fontsize_12"> <a href="#"><span class="__cf_email__" data-cfemail="b2c2dad3c0dfd3d1dddff2d7cad3dfc2ded79cd1dddf">contacto@wandelinversiones.com</span></a> </p>
									</div>
								</div>
								<div class="teaser small-teaser media">
									<div class="media-left media-middle">
                                        <!-- <div class="teaser_icon size_small border_icon highlight2 rounded"> <i class="rt-icon2-map-pin"></i> </div> -->
                                        <div class="teaser_icon size_small border_icon highlight2 rounded"> <i class="fas fa-map-marker-alt"></i> </div>
									</div>
									<div class="media-body media-middle">
										<h4>Urb Casapía Mz C Lt 11</h4>
										<p class="greylinks fontsize_12"> José Luis Bustamante y Rivero - Arequipa </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<%- include('includes/header', {option: 'inicio'}); %>

			<section class="intro_section page_mainslider ds color">
				<div class="flexslider" data-dots="true" data-nav="false">
					<ul class="slides">
						<li> <img src="images/slide01.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer with_corner_border with_padding huge-padding" data-animation="slideExpandUp">
													<h5 class="thin"> Ofrecemos una variedad de </h5>
													<h2 class="highlight">PRODUCTOS QUIMICOS </h2>
													<p> Nuestros productos son distribuidos tanto en Arequipa como en provincias, <br>con altos estándares de calidad.</p> <a href="pipeline.html" class="theme_button color2 inverse margin_0">
                                                        Descubre como
										</a> <span class="bottom_corners"></span> </div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li> <img src="images/slide02.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer with_corner_border with_padding huge-padding" data-animation="slideExpandUp">
													<h5 class="thin">Somos especialistas en la fabricación, distribución y comercialización de </h5>
													<h2 class="highlight">INSUMOS INDUSTRIALES DE LIMPIEZA </h2>
													<p> Actualmente somos una empresa consolidado en el mercado de Insumos industriales en el <br>área de poductos para limpieza y químicos.  </p> <a href="pipeline.html" class="theme_button color2 inverse margin_0">
											Descubra mas
										</a> <span class="bottom_corners"></span> </div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapperSomos líderes en la fabricación, distribución y comercialización de químicos para la limpieza y tratamiento de todo tipo de superficie. Contamos con un selecto equipo de profesionales, dispuesto a asesorarle para que sus resultados sean excepcionales. -- >
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li> <img src="images/slide03.jpg" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer with_corner_border with_padding huge-padding" data-animation="slideExpandUp">
													<h5 class="thin">ofrecemos una gran variedad de  </h5>
													<h2 class="highlight">  INSUMOS TEXTILES</h2>
													<p> Nuestro propósito es entregar insumos de alta calidad para posicionarnos en el mercado, optimizando nuestros procesos. </p> <a href="pipeline.html" class="theme_button color2 inverse margin_0">
											Descubra mas
										</a> <span class="bottom_corners"></span> </div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
					</ul>
				</div>
				<!-- eof flexslider -->
			</section>
			<section id="about" class="ls section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="section_header"> Bienvenidos a WANDEL! </h2>
							<p>Wandel Inversiones, es una empresa que fabrica y comercializa Insumos Químicos, principalmente para la elaboración de productos de limpieza en el sur del Perú.</p>
						</div>
					</div>
					<div class="row columns_margin_bottom_20">
						<div class="col-md-4 col-sm-6">
							<div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
								<div class="teaser_icon size_big highlight"> <i class="fas fa-users"></i> </div>
								<h4 class="topmargin_20 hover-color2"><a href="team.html">EQUIPO WANDEL</a></h4>
								<p class="content-3lines-ellipsis">Más de 8 años de historia han logrado que todos nuestros colaboradores formen parte de una gran familia.</p>
								<p class="topmargin_30 bottommargin_0"> <a href="team.html" class="theme_button color2 inverse min_width_button">Nuestro equipo</a> </p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="teaser hover_icon with_padding big-padding with_border rounded text-center with_corner_border">
								<div class="teaser_icon size_big highlight"> <i class="far fa-lightbulb"></i> </div>
								<h4 class="topmargin_20 hover-color2"><a href="departments.html">ENFOQUE WANDEL</a></h4>
								<p class="content-3lines-ellipsis">Nuestra filosofía es la excelencia.</p>
								<p class="topmargin_30 bottommargin_0"> <a href="departments.html" class="theme_button color2 min_width_button">Saber mas</a> </p> <span class="bottom_corners"></span> </div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
							<div class="teaser hover_icon with_padding big-padding with_border rounded text-center">
								<div class="teaser_icon size_big highlight"> <i class="fas fa-shopping-basket"></i> </div>
								<h4 class="topmargin_20 hover-color2"><a href="pipeline.html">CATEGORÍA DE PRODUCTOS</a></h4>
								<p class="content-3lines-ellipsis">Gracias a la experiencia y conocimiento adquiridos hemos desarrollado una gran variedad de insumos químicos.</p>
								<p class="topmargin_30 bottommargin_0"> <a href="pipeline.html" class="theme_button color2 inverse min_width_button">Revisar</a> </p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="products" class="ds color parallax page_gallery section_padding_top_100 section_padding_bottom_150 columns_padding_25">
				<div class="container">
					<div class="row display_table_md">
						<div class="col-md-6 col-md-push-6 display_table_cell_md"> <img src="images/gallery/01.jpg" alt="" class="rounded"> </div>
						<div class="col-md-6 col-md-pull-6 display_table_cell_md">
							<h2 class="section_header">Mira nuestros productos</h2>
							<p class="highlight bottommargin_20"><strong>Actualmente nos encontramos en la investigación y desarrollo de nuevos productos para la industria textil y productos de limpieza.</strong></p>
							<p>bContamos con altos estándares de calidad, que refuerzan nuestro compromiso con nuestros
									clientes. Nuestros productos son distribuidos tanto en Arequipa como en provincias del sur del
									Peru.</p>
							<p class="topmargin_30"> <a href="gallery-regular-3-cols.html" class="theme_button color2 inverse">Ver nuestros productos</a> </p>
						</div>
					</div>
					<div class="row topmargin_30">
						<div class="col-sm-12">
							<div class="owl-carousel gallery-carousel" data-responsive-lg="5" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1" data-nav="true">
								<div class="gallery-item rounded">
									<div class="item-media rounded overflow_hidden"> <img src="images/gallery/02.jpg" alt="">
										<div class="media-links inverse"> <a href="images/gallery/02.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
									</div>
								</div>
								<div class="gallery-item rounded">
									<div class="item-media rounded overflow_hidden"> <img src="images/gallery/03.jpg" alt="">
										<div class="media-links inverse"> <a href="images/gallery/03.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
									</div>
								</div>
								<div class="gallery-item rounded">
									<div class="item-media rounded overflow_hidden"> <img src="images/gallery/04.jpg" alt="">
										<div class="media-links inverse"> <a href="images/gallery/04.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
									</div>
								</div>
								<div class="gallery-item rounded">
									<div class="item-media rounded overflow_hidden"> <img src="images/gallery/05.jpg" alt="">
										<div class="media-links inverse"> <a href="images/gallery/05.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
									</div>
								</div>
								<div class="gallery-item rounded">
									<div class="item-media rounded overflow_hidden"> <img src="images/gallery/06.jpg" alt="">
										<div class="media-links inverse"> <a href="images/gallery/06.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
									</div>
								</div>
								<div class="gallery-item rounded">
									<div class="item-media rounded overflow_hidden"> <img src="images/gallery/07.jpg" alt="">
										<div class="media-links inverse"> <a href="images/gallery/07.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
									</div>
								</div>
								<div class="gallery-item rounded">
									<div class="item-media rounded overflow_hidden"> <img src="images/gallery/08.jpg" alt="">
										<div class="media-links inverse"> <a href="images/gallery/08.jpg" class="abs-link prettyPhoto" title="" data-gal="prettyPhoto[gal]"></a> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="features" class="ls section_padding_top_150 section_padding_bottom_130 columns_margin_bottom_30">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h2 class="section_header">Por que elegirnos?</h2> <a href="about.html" class="theme_button color2 inverse min_width_button">Nosotros</a> </div>
						<div class="col-md-4 col-sm-6">
							<div class="teaser media hover_icon">
								<div class="media-left">
									<div class="teaser_icon rounded main_bg_color size_small"> <i class="far fa-lightbulb"></i> </div>
								</div>
								<div class="media-body toppadding_10">
									<h5 class="hover-color2"><a href="#">Innovación</a></h5>
									<p>Estamos en la búsqueda de mejoras y nuevas aplicaciones de cada uno de nuestros productos.</p>
								</div>
							</div>
							<div class="teaser media hover_icon">
								<div class="media-left">
									<div class="teaser_icon rounded main_bg_color size_small"> <i class="fas fa-money-bill"></i> </div>
								</div>
								<div class="media-body toppadding_10">
									<h5 class="hover-color2"><a href="#">Precios Competitivos</a></h5>
									<p>Ofrecemos a nuestros clientes precios justos, manteniendo la calidad en todos nuestros productos.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="teaser media hover_icon">
								<div class="media-left">
									<div class="teaser_icon rounded main_bg_color size_small"> <i class="far fa-gem"></i> </div>
								</div>
								<div class="media-body toppadding_10">
									<h5 class="hover-color2"><a href="#">Aseguramos la calidad</a></h5>
									<p>Nuestros procesos de producción se basan en los estándares internacionales del ISO 9001.
											Actualmente estamos en proceso de certificación.</p>
								</div>
							</div>
							<div class="teaser media hover_icon">
								<div class="media-left">
									<div class="teaser_icon rounded main_bg_color size_small"> <i class="fas fa-clipboard-list"></i> </div>
								</div>
								<div class="media-body toppadding_10">
									<h5 class="hover-color2"><a href="#">Contamos con socios estratégicos</a></h5>
									<p>Conoce a nuestros socios.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="cs gradient section_padding_top_65 section_padding_bottom_50 columns_margin_bottom_20">
				<div class="container">
					<div class="row">
						<div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
							<div class="teaser text-center">
								<h3 class="counter" data-from="0" data-to="8" data-speed="2100">0</h3>
								<p>Anos de experiencia</p>
							</div>
						</div>
						<div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
							<div class="teaser text-center">
								<h3 class="counter" data-from="0" data-to="200" data-speed="2100">0</h3>
								<p>Número de productos</p>
							</div>
						</div>
						<div class="col-md-20 col-sm-4 col-xs-6 col-xxs-12">
							<div class="teaser text-center">
								<h3 class="counter" data-from="0" data-to="548" data-speed="2100">0</h3>
								<p>Clientes felices</p>
							</div>
						</div>
						<div class="col-md-20 col-sm-6 col-xs-6 col-xxs-12">
							<div class="teaser text-center">
								<h3 class="counter-wrap"> <span class="counter" data-from="0" data-to="12" data-speed="2100"></span> <span class="counter-add">k</span> </h3>
								<p>Socios estratégicos</p>
							</div>
						</div>
						<div class="col-md-20 col-sm-6 col-xs-12">
							<div class="teaser text-center">
								<h3 class="counter" data-from="0" data-to="751" data-speed="2100">0</h3>
								<p>Pharmacies Partners</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="pipeline" class="ds color background_cover page_features section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-8 col-md-offset-4 col-lg-offset-6">
							<h2 class="section_header">Development pipeline</h2>
							<p class="highlight bottommargin_20"><strong>Balanced mix of new substance developments and life cycle management opportunities.</strong></p>
							<p>We focus on core competencies and its many years of experience. We thus hold a leading position in many therapeutic fields: for instance in the treatment of hemophilia and multiple sclerosis, in contrast media and oral contraception. We are also
								striving for such a leading position in oncology.</p>
							<div class="row topmargin_40 columns_margin_bottom_20">
								<div class="col-sm-4 col-xs-6 col-xxs-12">
									<div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
										<p class="big highlight2 bottommargin_20 topmargin_5">01</p>
										<h5 class="margin_0">Research &amp; Preclinical</h5>
										<div class="media-links clear-media"> <a href="pipeline-single.html" class="abs-link"></a> </div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-6 col-xxs-12">
									<div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
										<p class="big highlight2 bottommargin_20 topmargin_5">02</p>
										<h5 class="margin_0">Starting Phase</h5>
										<div class="media-links clear-media"> <a href="pipeline-single.html" class="abs-link"></a> </div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-6 col-xxs-12">
									<div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
										<p class="big highlight2 bottommargin_20 topmargin_5">03</p>
										<h5 class="margin_0">Medium Phase</h5>
										<div class="media-links clear-media"> <a href="pipeline-single.html" class="abs-link"></a> </div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-6 col-xxs-12">
									<div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
										<p class="big highlight2 bottommargin_20 topmargin_5">04</p>
										<h5 class="margin_0">Finishing Phase</h5>
										<div class="media-links clear-media"> <a href="pipeline-single.html" class="abs-link"></a> </div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-6 col-xxs-12">
									<div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
										<p class="big highlight2 bottommargin_20 topmargin_5">05</p>
										<h5 class="margin_0">After Drug Approval</h5>
										<div class="media-links clear-media"> <a href="pipeline-single.html" class="abs-link"></a> </div>
									</div>
								</div>
								<div class="col-sm-4 col-xs-6 col-xxs-12">
									<div class="vertical-item teaser clear-media hover_bg_teaser ls with_padding rounded with_shadow min_height_165">
										<p class="big highlight2 bottommargin_20 topmargin_5">06</p>
										<h5 class="margin_0">Drugs Production</h5>
										<div class="media-links clear-media"> <a href="pipeline-single.html" class="abs-link"></a> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section id="testimonials" class="ds color parallax page_testimonials section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="section_header text-center"> Nuestros Clientes </h2>
							<div class="owl-carousel" data-responsive-lg="3" data-nav="false" data-dots="true">
								<blockquote class="with_border with_padding text-center rounded"> <img src="images/clientes/cinderella.jpg" alt="cinderella-arequipa"> Empresa dedicada a la limpieza hotelera y domestica, linea de lavanderia y limpieza automotriz.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Cinderella</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="ls with_border with_padding text-center rounded"> <img src="images/faces/02.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Felicia L. Brooks</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="with_border with_padding text-center rounded"> <img src="images/faces/03.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Frank C. McGee</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="with_border with_padding text-center rounded"> <img src="images/faces/01.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Heidi J. Cobb</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="ls with_border with_padding text-center rounded"> <img src="images/faces/02.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Felicia L. Brooks</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="with_border with_padding text-center rounded"> <img src="images/faces/03.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Frank C. McGee</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="with_border with_padding text-center rounded"> <img src="images/faces/01.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Heidi J. Cobb</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="ls with_border with_padding text-center rounded"> <img src="images/faces/02.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Felicia L. Brooks</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
								<blockquote class="with_border with_padding text-center rounded"> <img src="images/faces/03.jpg" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt utlabore et dolore magna aliquyam.
									<div class="item-meta">
										<h5 class="highlight hover-dark-color"><a href="#">Frank C. McGee</a></h5>
										<p class="highlight2">Cliente</p>
									</div>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="contact" class="ls section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 text-center">
							<div class="background_cover contact-form-wrapper">
								<h2 class="section_header">Formulario de contacto</h2>
								<form class="contact-form row" method="post" action="./">
									<div class="col-sm-6">
										<div class="contact-form-name"> <label for="name">Nombre <span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control text-center" placeholder="Nombre"> </div>
									</div>
									<div class="col-sm-6">
										<div class="contact-form-email"> <label for="email">Email<span class="required">*</span></label> <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control text-center" placeholder="Email"> </div>
									</div>
									<div class="col-sm-6">
										<div class="contact-form-phone"> <label for="phone">Telefono<span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control text-center" placeholder="Telefono"> </div>
									</div>
									<div class="col-sm-6">
										<div class="contact-form-subject"> <label for="subject">Motivo<span class="required">*</span></label> <input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control text-center" placeholder="Motivo"> </div>
									</div>
									<div class="col-sm-12">
										<div class="contact-form-message"> <label for="message">Mensaje</label> <textarea aria-required="true" rows="4" cols="45" name="message" id="message" class="form-control text-center" placeholder="Mensaje..."></textarea> </div>
									</div>
									<div class="col-sm-12">
										<div class="contact-form-submit topmargin_10"> <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color2 inverse min_width_button">Enviar Mensaje</button> </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="cs gradient section_padding_top_50 section_padding_bottom_50">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div class="owl-carousel partners-carousel" data-responsive-lg="9" data-responsive-md="6" data-responsive-sm="4" data-responsive-xs="2" data-nav="false" data-dots="false" data-center="true" data-loop="true"> <a href="#">
						<img src="images/partners/01.png" alt="">
					</a> <a href="#">
						<img src="images/partners/02.png" alt="">
					</a> <a href="#">
						<img src="images/partners/03.png" alt="">
					</a> <a href="#">
						<img src="images/partners/04.png" alt="">
					</a> <a href="#">
						<img src="images/partners/05.png" alt="">
					</a> <a href="#">
						<img src="images/partners/06.png" alt="">
					</a> <a href="#">
						<img src="images/partners/07.png" alt="">
					</a> <a href="#">
						<img src="images/partners/08.png" alt="">
					</a> <a href="#">
						<img src="images/partners/09.png" alt="">
					</a> </div>
						</div>
					</div>
				</div>
			</section>
			

			<%- include('includes/footer'); %>
			
		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
	<script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script><script src="js/compressed.js"></script>
	<script src="js/main.js"></script>
	
</body>

</html>