<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <title>Wandel - Contacto</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%- include('includes/head'); %>
    <link rel="stylesheet" href="css/responsi.css">

    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <![endif]-->
</head>

<body>
        <!--[if lt IE 9]>
            <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div class="preloader">
            <div class="preloader_image"></div>
        </div>
        <!-- search modal -->
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>
            <div class="widget widget_search">
                <form method="get" class="searchform search-form form-inline" action="./">
                    <div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button">Search</button> </form>
            </div>
        </div>
        <!-- Unyson messages modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
            <div class="fw-messages-wrap ls with_padding">
                <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
                <!--
            <ul class="list-unstyled">
                <li>Message To User</li>
            </ul>
            -->
            </div>
        </div>
        <!-- eof .modal -->
        <!-- wrappers for visual page editor and boxed version of template -->
        <div id="canvas">
            <div id="box_wrapper">
                <!-- template sections -->
               
                <%- include('includes/header', {option: 'nosotros'}); %>
                
                <section class="ls section_padding_top_100 section_padding_bottom_100 columns_padding_25">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5">
                                    <article class="vertical-item content-padding with_border ">
                                        <div class="item-media"> <img src="images/gallery/06.jpg" alt=""> </div>
                                        <div class="item-content">
                                            <h4> Wandel </h4>
                                            <p> Wandel Inversiones, es una empresa que comercializa insumos quimicos, principalmente para la elaboración de productos para la limpieza en el sur del Perù. </p>
                                        </div>
                                        <div class="item-content with_top_border">
                                            <div class="media small-teaser">
                                                <div class="media-left media-middle"> <i class="fa fa-map-marker highlight" aria-hidden="true"></i> </div>
                                                <div class="media-body media-middle"> Urb. Casapía Mz C Lt 11- José Luis Bustamante y Rivero - Arequipa </div>
                                            </div>
                                            <div class="media small-teaser">
                                                <div class="media-left media-middle"> <i class="fa fa-phone highlight" aria-hidden="true"></i> </div>
                                                <div class="media-body media-middle"> 	(054) - 426221 </div>
                                            </div>
                                            <div class="media small-teaser">
                                                <div class="media-left media-middle"> <i class="fa fa-envelope highlight" aria-hidden="true"></i> </div>
                                                <div class="media-body media-middle"> <a href="/" class="__cf_email__" data-cfemail="f19790839f94829e9895b19489909c819d94df929e9c">Contacto@wandelinversiones.com</a> </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-7">
                                    <p>Wandel Inversiones SAC, es una empresa de comercialización de insumos Químicos, para la elaboración de productos para la limpieza creada en el año 2010 por la familia Castro, en base de la experiencia y conocimiento adquirido a través de los años en la ciudad de Arequipa. </p>
                                    <p>Nuestros productos son distribuidos tanto en Arequipa como en provincias, con productos de  estándares de calidad, contamos con nuestro punto de venta en Urb. Casapía Mz C Lt 11- José Luis Bustamante y Rivero.</p>
                                    <!--ul class="list2 checklist color2 darklinks">
                                        <li> <a href="#">Lorem ipsum dolor sit amet</a> </li>
                                        <li> <a href="#">Sint animi non ut sed</a> </li>
                                        <li> <a href="#">Eaque blanditiis nemo</a> </li>
                                    </ul>
                                    <p>Ribeye cow tongue, kielbasa doner flank picanha alcatra leberkas hamburger frankfurter beef swine kevin burgdoggen. Jerky spare ribs prosciutto, pig short ribs pork chop frankfurter. Chicken doner shankle bacon pork burgdoggen landjaeger shoulder
                                        ground round. </p>
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs topmargin_40" role="tablist">
                                        <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Mision</a></li>
                                        <li><a href="#tab2" role="tab" data-toggle="tab">Vision</a></li>
                                        <li><a href="#tab3" role="tab" data-toggle="tab">Productos Importantes</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content big-padding top-color-border bottommargin_40">
                                        <div class="tab-pane fade in active" id="tab1">
                                            <h4 class="topmargin_0">Vision:</h4>
                                            <p> Satisfacer la necesidad de nuestros clientes con productos de calidad y sobretodo precios competitivos; brindando un servicio personalizado y profesional. </p>
                                            <!--h4>Our days:</h4>
                                            <p> Dutem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit. Praesent luptatum zzril delenit augue duis dolore te
                                                feugait nulla facilisi. </p-->
                                        </div>
                                        <div class="tab-pane fade in active" id="tab2">
                                            <h4 class="topmargin_0">Mision:</h4>
                                            <p> Ser la empresa líder en comercialización de insumos químicos y ser un socio estratégico comercial responsable con nuestros clientes manteniendo nuestro producto de calidad.</p>
                                            <!--h4>Our days:</h4>
                                            <p> Dutem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit. Praesent luptatum zzril delenit augue duis dolore te
                                                feugait nulla facilisi. </p-->
                                        </div>

                                        



    
                                        <div class="tab-pane fade" id="tab3">
                                                <h4 class="topmargin_0">Productos Destacados:</h4>
                                            <p class="bottommargin_10"> <strong class="grey">Hipoclorito de Sodio</strong> </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="90"> <span>7.5%</span> </div>
                                            </div>
                                            <p class="bottommargin_10"> <strong class="grey">Vencevinyl 205</strong> </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="100"> <span>100%</span> </div>
                                            </div>
                                            <p class="bottommargin_10"> <strong class="grey">Suavizantes</strong> </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="75"> <span>75%</span> </div>
                                            </div>
                                            <p class="bottommargin_10"> <strong class="grey">Fragancias </strong> </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="95"> <span>95%</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- eof .tab-content -->
                                    <p>Desde el 2010 trabajamos en familia para transformar cada negocio familiar de nuestros clientes en propuestas de valor sin sacrificar la excelencia.</p>
                                    <p>Son pocas las empresas que promueven la regionalización y que la administran sus labores fuera de la capital es por ello que manteniendo nuestro compromiso el desarrollo del país sustentamos nuestros proyectos al futuro.</p>
                                    <p>La capacitación constante de nuestro equipo de trabajo para liderar en calidad y precio de nuestros productos.</p>
                                    <blockquote class="with_padding with_border rounded"> Nuestra visión es continuar con nuestro avance contribuyendo al desarrollo del País, priorizando la seguridad, calidad; tanto en nuestros clientes como en nuestros colaboradores.
                                        <div class="item-meta">
                                            <h5 class="highlightlinks"><a href="#">La gerencia</a></h5>
                                            <!--p class="highlight2">Gerencia</p-->
                                        </div>
                                    </blockquote>
                                    <!--p> Ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                                        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p-->
                                </div>
                            </div>
                        </div>
                    </section>
                <%- include('includes/footer')%>
            </div>
            <!-- eof #box_wrapper -->
        </div>
        <!-- eof #canvas -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script><script src="js/compressed.js"></script>
        <script src="js/main.js"></script>
        <!-- <script src="js/switcher.js"></script> -->
        <!-- Google Map Script -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTwYSMRGuTsmfl2z_zZDStYqMlKtrybxo"></script>

        <script>
        function myFunction() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        
        function myFunction2() {
            var x = document.getElementById("snackbar2");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }

        </script>
        
    </body>
    
    </html>    