<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <title>Wandel - Contacto</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%- include('includes/head'); %>
    <link rel="stylesheet" href="css/responsi.css">

    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <![endif]-->
</head>

<body>
        <!--[if lt IE 9]>
            <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div class="preloader">
            <div class="preloader_image"></div>
        </div>
        <!-- search modal -->
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
            </span>
        </button>
            <div class="widget widget_search">
                <form method="get" class="searchform search-form form-inline" action="./">
                    <div class="form-group bottommargin_0"> <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input"> </div> <button type="submit" class="theme_button">Search</button> </form>
            </div>
        </div>
        <!-- Unyson messages modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
            <div class="fw-messages-wrap ls with_padding">
                <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
                <!--
            <ul class="list-unstyled">
                <li>Message To User</li>
            </ul>
            -->
            </div>
        </div>
        <!-- eof .modal -->
        <!-- wrappers for visual page editor and boxed version of template -->
        <div id="canvas">
            <div id="box_wrapper">
                <!-- template sections -->
               
                <%- include('includes/header', {option: 'productos'}); %>
                
                <section class="">
                    <div class="full-size">
                        <div class="cchel2 cseq2 cvcenter" id="seq" onclick="myFunction()">
                            <div class="cvcenterinner">
                                <span class="stitlecaja" style="opacity: 1;">
                                    <span>INSUMOS para la limpieza</span>
                                </span>
                            </div>
                        </div>
                        <div class="cchel2 cseq cvcenter" id="seq" onclick="myFunction2()">
                                <div class="cvcenterinner">
                                    <span class="stitlecaja" style="opacity: 1;">
                                        <span>INSUMOS TEXTILES</span>
                                    </span>
                                </div>
                        </div>
                        <div id="snackbar">
                            <a onclick="close_menu()">
                                <i class="fas fa-window-close">  </i>
                                Cerrar
                            </a>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <li>Aceite de Pino  </li>
                                </div>
                            
                                <div class="col-md-4">
                                    <li>Acido Cítrico</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Acido Fosfórico</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Antiespumante</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Butilglicol</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Carbopol</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Ceras Parafinas</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Coalescente </li>
                                </div>
                                <div class="col-md-4">
                                    <li>Coumarina</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Creosota Crisilica Inglesa</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Desengrasantes</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Emulgador 2106</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Espesantes</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Fragancias </li>
                                </div>
                                <div class="col-md-4">
                                    <li>Glicerina USP</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Glucosa</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Hipoclorito de Sodio 7.5%</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Kleber</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Lauriles al 28% y 70%</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Nonyl Fenol 06 -10 </li>
                                </div>
                                <div class="col-md-4">
                                    <li>Óxidos de Hierro</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Peróxido de Hidrogeno</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Pigmentos</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Preservantes</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Resina Colofonia</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Siliconas a la Grasa y Agua</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Soda Caustica Escamas / Microperlas</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Suavizantes</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Trietanolamina</li>
                                </div>
                                <div class="col-md-4">
                                    <li>Vaselina Liquida</li>
                                </div>
                            
                        
                            </div>
                            
                        </div>
                       
                            
                        <div id="snackbar3">
                            <a onclick="close_menu2()">
                                <i class="fas fa-window-close">  </i>
                                Cerrar
                            </a>
                            
                            <div class="row">
                                <div class="col-md-4">
                                        <li>Ópticos</li>
                                </div>
                                <div class="col-md-4">
                                        <li>Blanqueadores</li>
                                </div>
                                <div class="col-md-4">
                                        <li>Detergentes</li>
                                </div>
                                <div class="col-md-4">
                                        <li>Suavizantes</li>
                                </div>
                                <div class="col-md-4">
                                        <li>Fijadores</li>
                                </div>
                                <div class="col-md-4">
                                        <li>Antiespumantes</li>    
                                </div>
                                <div class="col-md-4">
                                    <li>Aceite de Pino  </li>
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    
                </section>
                <%- include('includes/footer')%>
            </div>
            <!-- eof #box_wrapper -->
        </div>
        <!-- eof #canvas -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script><script src="js/compressed.js"></script>
        <script src="js/main.js"></script>
        <!-- <script src="js/switcher.js"></script> -->
        <!-- Google Map Script -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTwYSMRGuTsmfl2z_zZDStYqMlKtrybxo"></script>

        <script>
        function myFunction() {
            var x = document.getElementById("snackbar");
            x.className = "show";
//            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 130000);
        }

        function close_menu() {
            var x = document.getElementById("snackbar");
            x.className = x.className.replace("show", "");
        }
        
        function myFunction2() {
            var x = document.getElementById("snackbar3");
            x.className = "show";
//            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 13000);
        }
        function close_menu2() {
            var x = document.getElementById("snackbar3");
            x.className = x.className.replace("show", "");
        }

        </script>
        
    </body>
    
    </html>    