
formulario pequeño en la parte de productos
                                        <!--div class="tab-pane fade" id="tab3">
                                            <form class="contact-form" method="post" action="./">
                                                <p class="contact-form-name">
                                                    <!-- <label for="name">Name <span class="required">*</span></label> --><input type="text" aria-required="true" size="30" value="" name="name" class="form-control" placeholder="Name"> </p>
                                                <!--p class="contact-form-email">
                                                    <!-- <label for="email">Email <span class="required">*</span></label> --><input type="email" aria-required="true" size="30" value="" name="email" class="form-control" placeholder="Email Address"> </p>
                                                <!--p class="contact-form-message">
                                                    <!-- <label for="message">Message</label> --><textarea aria-required="true" rows="4" cols="45" name="message" class="form-control" placeholder="Message"></textarea> </p>
                                                <!--p class="contact-form-submit topmargin_30"> <button type="submit" name="contact_submit" class="theme_button color1">Send Message</button> </p>
                                            </form>
                                        </div-->
