<footer class="page_footer ds color section_padding_top_100 section_padding_bottom_65 table_section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget_text"> <a href="./" class="logo vertical_logo bottommargin_20">
                <img src="images/logo-light.png" alt="">
            </a>
                        <p>Nuestros productos son distribuidos tanto en Arequipa como en provincias, con productos de  estándares de calidad.</p>
                        <!-- <p class="darklinks"> <a class="social-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon soc-google" href="#" title="Twitter"></a> <a class="social-icon soc-linkedin" href="#" title="Twitter"></a>									<a class="social-icon soc-youtube" href="#" title="Youtube"></a> </p> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget_text topmargin_25">
                        <h4 class="widget-title">Contactanos</h4>
                        <div class="media">
                            <div class="media-left rightpadding_10"> <i class="fas fa-map-marker-alt"></i> </div>
                            <div class="media-body">Urb. Casapía Mz C Lt 11- José Luis Bustamante y Rivero </div>
                        </div>
                        <div class="media">
                            <div class="media-left rightpadding_10"> <i class="fas fa-phone-square"></i> </div>
                            <div class="media-body"> (054) - 426221 </div>
                        </div>
                        <div class="media">
                            <div class="media-left rightpadding_10"> <i class="fas fa-envelope-square"></i> </div>
                            <div class="media-body highlight2links"> <a href=""><span class="__cf_email__" data-cfemail="31415950435c50525e5c715449505c415d541f525e5c">contacto@wandelinversiones.com</span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget_twitter topmargin_25">
                        <h4 class="widget-title">Twitter Widget</h4>
                        <div class="twitter highlight2links"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center text-sm-left">
                    <div class="widget widget_instagram topmargin_25">
                        <h4 class="widget-title">Instagram</h4>
                        <div class="instafeed"> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="ds color darker page_copyright section_padding_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="fontsize_12">&copy; Copyright 2018. Galtec - All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </section>