<section class="page_topline cs main_color2 table_section table_section_sm section_padding_top_5 section_padding_bottom_5">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center text-sm-left">
                <div> <i class="far fa-clock"></i> Horario de Atención: Lunes - Viernes 8:30 - 18:00 </div>
            </div>
            <!-- <div class="col-sm-4 text-center text-sm-right greylinks"> <span class="rightpadding_10">Follow Us:</span> <a class="social-icon color-icon soc-facebook" href="#" title="Facebook"></a> <a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a> <a class="social-icon color-icon soc-google" -->
                    <!-- href="#" title="Twitter"></a> <a class="social-icon color-icon soc-linkedin" href="#" title="Twitter"></a> <a class="social-icon color-icon soc-youtube" href="#" title="Youtube"></a> </div> -->
        </div>
    </div>
</section>
<section class="page_toplogo table_section table_section_md ls section_padding_top_25 section_padding_bottom_25">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center text-md-left"> <a href="./" class="logo top_logo">
        <img src="images/logos/logo-white.png" alt="">
    </a> </div>
            <div class="col-md-9 text-center text-md-right">
                <div class="inline-teasers-wrap">
                    <div class="teaser small-teaser media">
                        <div class="media-left media-middle">  
                            <!-- <div class="teaser_icon size_small border_icon highlight2 rounded"> <i class="rt-icon2-pen"></i>  -->
                            <div class="teaser_icon size_small border_icon highlight2 rounded">   <i class="fas fa-phone"></i>

                            </i> 
                              


                            </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4> (054) -426221</h4>
                            <p class="greylinks fontsize_12"> 
                                <a href="#"><span class="__cf_email__" data-cfemail="b2c2dad3c0dfd3d1dddff2d7cad3dfc2ded79cd1dddf">contacto@wandelinversiones.com </span></a> 
                                <a href="#"><span class="__cf_email__" data-cfemail="b2c2dad3c0dfd3d1dddff2d7cad3dfc2ded79cd1dddf"> <br> ventas@wandelinversiones.com</span></a> 
                           
                            </p>
                            
                        </div>
                    </div>
                    <div class="teaser small-teaser media">
                        <div class="media-left media-middle">
                            <!-- <div class="teaser_icon size_small border_icon highlight2 rounded"> <i class="rt-icon2-map-pin"></i> </div> -->
                            <div class="teaser_icon size_small border_icon highlight2 rounded"> <i class="fas fa-map-marker-alt"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4>Urb Casapía Mz C Lt 11</h4>
                            <p class="greylinks fontsize_12"> José Luis Bustamante y Rivero - Arequipa </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<header class="page_header header_color toggler_left">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 display_table">
                <div class="header_mainmenu display_table_cell">
                    <!-- main nav start -->
                    <nav class="mainmenu_wrapper">
                        <ul class="mainmenu nav sf-menu">

                            <li class="<%= locals.option==='inicio' ? 'active' : ' ' %>"> <a href="/">Inicio</a>
                                <!-- <ul>
                                    <li> <a href="index.html">Inicio</a> </li>
                                    <li> <a href="index-static.html">Nosotros</a> </li>
                                    <li> <a href="index-single.html">Home single page</a> </li>
                                </ul> -->
                            </li>
                            <li class="<%= locals.option==='nosotros' ? 'active' : ' ' %>"> <a href="/nosotros">Nosotros</a>
                                
                            </li>
                            <!-- eof pages -->
                            <li class="<%= locals.option==='productos' ? 'active' : ' ' %>"> <a href="/productos">Productos</a>
                                
                            </li>
                            <li class="<%= locals.option==='contacto' ? 'active' : ' ' %>"> <a href="/contacto">Contacto</a>
                                
                                <!-- eof mega menu -->
                            </li>
                            <!-- eof features -->
                            <!-- gallery -->
                            
                    </nav>
                    <!-- eof main nav -->
                    <!-- header toggler --><span class="toggle_menu"><span></span></span>
                </div>
                <!--<div class="header_right_buttons cs display_table_cell text-right">
                    <ul class="inline-list menu greylinks">
                        <li> <a href="#" class="search_modal_button header-button">
                <i class="fa fa-search" aria-hidden="true"></i>
                </a> </li>
                        <li> <a href="shop-register.html" class="header-button">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a> </li>
                        <li> <a href="shop-cart-right.html" class="header-button">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a> </li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</header>