<header class="page_header header_color toggler_left">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 display_table">
                <div class="header_mainmenu display_table_cell">
                    <!-- main nav start -->
                    <nav class="mainmenu_wrapper">
                        <ul class="mainmenu nav sf-menu">

                            <li class="<%= locals.option==='inicio' ? 'active' : ' ' %>"> <a href="/">Inicio</a>
                                <!-- <ul>
                                    <li> <a href="index.html">Inicio</a> </li>
                                    <li> <a href="index-static.html">Nosotros</a> </li>
                                    <li> <a href="index-single.html">Home single page</a> </li>
                                </ul> -->
                            </li>
                            <li> <a href="about.html">Nosotros</a>
                                
                            </li>
                            <!-- eof pages -->
                            <li> <a href="pipeline.html">Productos</a>
                                
                            </li>
                            <li class="<%= locals.option==='contacto' ? 'active' : ' ' %>"> <a href="/contacto">Contacto</a>
                                
                                <!-- eof mega menu -->
                            </li>
                            <!-- eof features -->
                            <!-- gallery -->
                            
                    </nav>
                    <!-- eof main nav -->
                    <!-- header toggler --><span class="toggle_menu"><span></span></span>
                </div>
                <!--<div class="header_right_buttons cs display_table_cell text-right">
                    <ul class="inline-list menu greylinks">
                        <li> <a href="#" class="search_modal_button header-button">
                <i class="fa fa-search" aria-hidden="true"></i>
                </a> </li>
                        <li> <a href="shop-register.html" class="header-button">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a> </li>
                        <li> <a href="shop-cart-right.html" class="header-button">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a> </li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</header>