@media screen and (min-width: 1600px){
.insights-banner-title {
    margin-bottom: 70px;
}

.insights-banner-title, .projects-banner-title {
    padding-left: 35px;


}}
@media screen and (min-width: 1200px){
.insights-banner-title, .experts-banner-title, .projects-banner-title {
    padding: 96px 0 30px 0;
}
}